
/* 
Author: Niek Dekker
Date: 14-03-2011
*/

/* ------------------------------- IMPORT FONTS ------------------------------- */

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?iefix') format('eot'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#webfontE0ctb2VN') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?iefix') format('eot'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#webfont2wKyads1') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?iefix') format('eot'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold-webfont.svg#webfontNhksnq9V') format('svg');
    font-weight: normal;
    font-style: normal;
}





/* ------------------------------- RESET CSS ------------------------------- */

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, img, b, i, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
}

/* Always force a scrollbar in non-IE */
html { 
	overflow-y: scroll; 
}

/* bicubic resizing for non-native sized IMG */
.ie7 img { -ms-interpolation-mode: bicubic; }




/* ------------------------------- BASE CSS ------------------------------- */

a, a:active, a:visited { 
	color: #607890;
}

a:hover { 
	color: #036;
}

/* text-selection color */
::-moz-selection{ background: #c4edff; color:#fff; text-shadow: none; }
::selection { background:#c4edff; color:#fff; text-shadow: none; }

/* iphone/ipad color when a link is 'tapped' */
a:link { -webkit-tap-highlight-color: #c4edff; }



/* ------------------------------- PRIMARY CSS ------------------------------- */



/* --------- HEADER ----------*/





/* --------- FEATURED ----------*/


#featured {
	height: 505px;
	position:relative;
	background: url('../img/featured_bg.gif') repeat -30px -19px; 
}
#featured #title {
	position:relative;
	background: url('../img/featured_line.png') no-repeat center 111px;
	padding: 100px 0px 50px 0px;
	margin: 0px 40px;
	text-align: center;
}
#featured #title h1 {
	display:inline-block;
	width:270px;
	font-family: 'ProximaNovaBold', Helvetica, Arial;
	font-size: 13px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin:0 auto;
}
#featured #items {
	width:850px;
	margin: 0 auto;
	position:relative;
	top:-5px;
}
#featured #items .item {
	display: inline-block;
	position: relative;
	margin-right:16px;
	width:270px;
	height:230px;
}
#featured #items .item a {
	text-decoration:none;
	color: #fff;
}
#featured #items .item3 {
	margin-right:0px;
}
#featured #items .item .description {
	position: absolute;
	bottom: 0px;
	width:210px;
	background: rgb(32, 32, 32); /* fallback */
	background: rgba(32, 32, 32, 0.96);
	padding: 10px 40px 10px 20px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
#featured #items .item .description .arrow {
	position: absolute;
	bottom:0px;
	right:20px;
	height: 100%;
	width: 5px;
	background: url('http://www.guyvernes.com/img/arrow_small.png') repeat-x center 18px;
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
#featured #items .item .tworows .arrow {
	background: url('http://www.guyvernes.com/img/arrow_small.png') repeat-x center 30px;
}
#featured #items .item:hover .description {
	background: rgb(116, 50, 51); /* fallback */
	background: rgba(116, 50, 51, 0.96);
	padding: 10px 40px 20px 20px;
}
#featured #items .item:hover .description .arrow {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
	background: url('http://www.guyvernes.com/img/arrow_small.png') repeat-x center 18px;
}
#featured #items .item:hover .tworows .arrow {
	background: url('http://www.guyvernes.com/img/arrow_small.png') repeat-x center 30px;
}



/* --------- TOPIMAGE --------*/
#topimage {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height:790px;
	min-width:995px;
	overflow: hidden;
	}
#topimage #image {
	z-index: -1;
	width:100%;
	}



/* --------- FOOTER ----------*/

.img_all {
	height:450px;
	width:100%;
	position:absolute;
	left:0px;
	top:0px;
}

/* ------------------------------- MOBILE CSS ------------------------------- */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode go here */
}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode go here */
}

@media screen and (max-device-width: 480px) {
	/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome) */
}